html, body {
    margin: 0;
    padding: 0;
    background: url("imgs/pattern.svg");

}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Lobster Two';
    font-size: 5em;
    color: rgb(43, 40, 40);
}

.whole {
    display: flex;
    align-items: center; 
}

.guineaPig {
    flex-grow: 1;
    text-align: center;
}

.guineaPig img {
    width: 150px;
    height: 150px;
}

.menu {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.btn {
    border: solid 1px rgb(246, 248, 101);
    border-radius: 10px;
	font-size: 2rem;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'Lobster Two';
    background-color: transparent;
    color: rgb(43, 40, 40);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s; 
    text-align: center;
    padding: 25px 20px 25px 20px;
	overflow: hidden; 
}

.btn:hover {
    background-color: rgb(43, 40, 40);
    color: rgb(246, 248, 101);
    border: none;
}

.btn:before {
    left: auto;
	right: 10px;
	z-index: 2;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: rgb(43, 40, 40);
    background-color: rgb(246, 248, 101);
}

h2, h3 {
    font-family: 'Lobster Two';
}

.close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: firebrick;
}

.close:hover {
    background-color: darkred;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

footer {
    background-color: #000;
    color: rgb(246, 248, 101);
    padding: 5%;
    text-align: center;
}